<nav class="navbar navbar-default navbar-blend" ng-controller="navigateController" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Stone Mining</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-if="currentUser"><b>Welcome {{currentUser}}</b></a>
                </li>
				<li><a href="#!/login/"><b>Log Out</b></a></li>
              <!--   <li><a ng-if="!currentUser" href="#login"><b>Login</b></a>
                </li>
                <li><a ng-if="!currentUser" href="#signup"><b>Sign Up</b></a>
                </li> -->

            </ul>
        </div>
    </div>
</nav>
<div ui-yield-to="modals"></div>
<div class="container"  style="overflow:auto;width: 100%;height: 500px;">
<button navback><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
<div class="alert alert-danger" ng-if="online_status_string!='online'"> Application is {{online_status_string}}</div>
<div class="alert alert-danger" ng-if="http_online_status_string ==='offline'"> Service is down. Please try again, Sorry for the trouble. </div>
    <div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-8">	
   <label for="daterange3" class="control-label">Select the Date range</label>
   <div class="input-group date"> 
   		<span class="input-group-addon" style="cursor: pointer"><i class="fa fa-calendar"></i></span>
    	<input date-range-picker="" id="daterange3" name="daterange3" class="form-control date-picker ng-pristine ng-valid ng-isolate-scope ng-touched selectbox pull-right" type="text" ng-model="dateRep" options="optsRep" required="">    	
        <span ng-show="form.daterange3.$dirty && form.daterange3.$error.required" class="help-block">Date Range is required</span>
    </div>
    <br>
   <button type="submit" class="btn btn-primary" ng-click="getStoneDetailsReports()">Apply</button>
   <button type="button" class="btn" >Cancel</button>
</div>
<div class="col-sm-2"></div>
    
    </div>
    <div class="row"><br><br></div>
<!--     <div class="row" ng-if="stoneReport" ng-show="!stoneReport.length">No Data Found</div> -->

<!--     <div class="row" ng-if="stoneReport" ng-show="stoneReport.length > 0"> -->
<div class="row"></div>
    <div class="col-sm-2"></div>
    <div class="text-center col-sm-8" ng-if="stoneReport" ng-show="!stoneReport.length">No Data Found</div>    
   	 <div class="text-center col-sm-8 " ng-if="stoneReport" ng-show="stoneReport.length > 0">
      <table class="table table-striped" at-table at-paginated at-list="stoneReport" at-config="config">
      <caption> 
      	<span class="align-center"><strong>Stone Details</strong></span>
      </caption>
  <thead></thead>
  <tbody>
<tr>
      <td at-implicit at-sortable at-title="Colour" at-attribute="colour" width="200"></td>
      <td at-implicit at-sortable at-title="Length" at-attribute="length"  width="150"></td>  
      <td at-implicit at-sortable at-title="Width" at-attribute="width" width="150"></td>
      <td at-implicit at-sortable at-title="Height" at-attribute="height"  width="150"></td>
      <td at-implicit at-sortable at-title="Type" at-attribute="type" width="200" at-initial-sorting="asc"></td>      
      <td at-implicit at-sortable at-title="Quantity" at-attribute="quantity" width="200"></td>
      <td at-sortable at-title="No of Slaps" width="200"><code>{{item.length * item.width /144 | number:2}}</code></td>
      <td></td>
    </tr>
  </tbody>
</table>

<at-pagination at-list="stoneReport" at-config="config"></at-pagination>
                           
            </div>     
            <div class="col-sm-2"></div>                      
                                  
                        </div>
                        
</div>                             
                        
                        
     
 <!--     <div>
		  <a href=""
	          ui-turn-on="event5">Weekly Report</a>
	          <br>
	      <a href=""
	          ui-turn-on="event6">Monthly Report</a>
    </div>
    
                         <div class="modal1" ui-if="event5" ui-state="event5">
            <div id="reports" class="" role="dialog" >
                <div class="modal-dialog">

                     Modal content
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" ui-turn-off="event5" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Weekly Report</h4>
                        </div>
                        <div class="modal-body">
    <div>
   	 
      <table class="table table-striped" at-table at-paginated at-list="stone" at-config="config">
      <caption> 
      	<span class="align-left"><strong>Stone Details</strong></span>
      </caption>
  <thead></thead>
  <tbody>
    <tr>
      <td at-implicit at-sortable at-title="Colour" at-attribute="colour" width="200"></td>
      <td at-implicit at-sortable at-title="Type" at-attribute="type" width="200" at-initial-sorting="asc"></td>      
      <td at-implicit at-sortable at-title="Quantity" at-attribute="quantity" width="200"></td>
      <td></td>
    </tr>
  </tbody>
</table>

<at-pagination at-list="stone" at-config="config"></at-pagination>

    </div>
                           
                                       
                                  
                        </div>
                        <div class="modal-footer">
                            <button type="button" ui-turn-off="event5" class="btn btn-default">Close</button>
                        </div>
                         </div>
                    </div>

                </div>
            </div>
            
            
                                     <div class="modal1" ui-if="event6" ui-state="event6">
            <div id="reports" class="" role="dialog" >
                <div class="modal-dialog">

                     Modal content
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" ui-turn-off="event6" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Monthly Report</h4>
                        </div>
                        <div class="modal-body">
    <div>
   	 
      <table class="table table-striped" at-table at-paginated at-list="stone" at-config="config">
      <caption> 
      	<span class="align-left"><strong>Stone Details</strong></span>
      </caption>
  <thead></thead>
  <tbody>
    <tr>
      <td at-implicit at-sortable at-title="Colour" at-attribute="colour" width="200"></td>
      <td at-implicit at-sortable at-title="Length" at-attribute="length"  width="150"></td>  
      <td at-implicit at-sortable at-title="Width" at-attribute="width" width="150"></td>
      <td at-implicit at-sortable at-title="Height" at-attribute="height"  width="150"></td>
      <td at-implicit at-sortable at-title="Type" at-attribute="type" width="200" at-initial-sorting="asc"></td>      
      <td at-implicit at-sortable at-title="Quantity" at-attribute="quantity" width="200"></td>
      <td at-sortable at-title="No of Slaps" width="200"><code>{{item.length * item.width /144 | number:2}}</code></td>
      <td></td>
    </tr>
  </tbody>
</table>

<at-pagination at-list="stone" at-config="config"></at-pagination>
                           
                                       
                                  
                        </div>
                        <div class="modal-footer">
                            <button type="button" ui-turn-off="event6" class="btn btn-default">Close</button>
                        </div>
                         </div>
                    </div>

                </div>
            </div> -->
       

